<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Encriptar Mensagem</title>

<style type="text/css">
.mensagem {
	width:200px;
}
</style>
</head>
<body>
    <div>
        <h1>Escreva uma mensagem, e veja ela encriptada</h1>
        <h1>Ou coloque a mensagem encriptada, e veja eela decriptada</h1>
    </div>

    <form method="post" th:action="@{/encriptar}" th:object="${mensagem}">
        <label>Mensagem para encriptar:</label>
        <input type="text" class="mensagem" th:field="*{mensagem}">
        <br>
        <input type="submit" value="Enviar mensagem">
    </form>

    <br>
    <br>

    <form method="post" th:action="@{/desencriptar}" th:object="${mensagem}">
        <label>Mensagem encriptada para desencriptar:</label>
        <input type="text" class="mensagem" th:field="*{mensagem}">
        <br>
        <input type="submit" value="Enviar mensagem">
    </form>

</body>
</html>